/* Brand colors
/* IKEA blue #0051BA
/* IKEA yelow #FFDA1A
*/
.textBrand {
  border-radius: 50px;
  font-size: 7px;
  padding: 4px;
  background-color: #ffda1a;
  color: #0051ba;
}
.info {
  padding: 45px 15px 25px 25px;
}
.blue {
  background-color: #0051ba;
  color: #fff;
}
.icon {
  height: 20px;
  width: 20px;
}
.link {
  color: #ffda1a;
}
.link:hover {
  color: #ffffff;
}
